

<div class="container">
    <h5>Movie id's are listed below</h5>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>City</th>
          <th>Theatre Name</th>
          <th>Theatre Id</th>
          <th>Movie Id</th>
          <th>Show Id</th>
          <th>Date and Time</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sarileru Neekevvaeu</td>
          <td>Hyderabad</td>
          <td>Asian CineSquare</td>
          <td>2001</td>
          <td>3001</td>
          <td>4001</td>
          <td>22-May-20 11:00</td>
         <td>Telugu</td>
        </tr>
        <tr>
          <td>Ala Vaikuntapuramlo</td>
          <td>Hyderabad</td>
          <td>Asian CineSquare</td>
          <td>2001</td>
          <td>3002</td>
          <td>4002</td>
          <td>22-May-20 14:30</td>
         <td>Telugu</td>
        </tr>

        <tr>
          <td>Chhichhore</td>
          <td>Hyderabad</td>
          <td>I-MAX Prasad's</td>
          <td>2002</td>
          <td>3003</td>
          <td>4003</td>
          <td>22-May-20 18:00</td>
          <td>Hindi</td>
        </tr>
        <tr>
          <td>Avengers-Endgame</td>
          <td>Hyderabad</td>
          <td>I-MAX Prasad's</td>
          <td>2002</td>
          <td>3004</td>
          <td>4004</td>
          <td>22-May-20 21:30</td>
          <td>English</td>
        </tr>

        
      </tbody>
    </table>
  </div>


